.view-header {
  font-size: 2rem;
  font-weight: bold;
}
.view {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0;
  border-bottom: solid 1px grey;
}

.view-item {
  flex: 0 1 25%;
  padding: 1rem .5rem;
  display: flex;
  flex-direction: column;
}

.view-content {
  flex: 1 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}