.lists {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0;
  border-bottom: solid 1px grey;
}

.lists-view  {
  flex: 1 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.list {
  flex: 0 1 25%;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.field {
  padding-left: 1rem;
}